# config.txt
# basic parameters
imageLength = 1920
imageWidth = 1080
mapFilePath = /home/wzy/Desktop/Visual_PnP_Navigation/data/points_origin.txt
outputPath = ../data/trajectory.txt
# target position
targetPoseX = 0
targetPoseY = 430.07
# agv ip
agvIp = 192.168.192.5
# camera rtsp url
cameraUrl = rtsp://admin:Admin123@192.168.192.98:554/Streaming/Channels/101
# the scale ratio from pixel to actual distance
scale = 2.05
# image pretreat parameters
binaryThreshold = 170
# Hough parameters
houghDp = 3
houghMinDist = 100
houghParam1 = 200
houghParam2 = 100
houghMinRadius = 10
houghMaxRadius = 40
# PnP solver parameters
iterationsCount = 300;
reprojectionError = 50;
confidence = 0.99;
# for test
mode = test
testMode = not only rotate